/*@font-face {*/
    /*font-style: normal;*/
    /*font-family: 'SF-Pro';*/
    /*src: url('../fonts/SF-Pro-Display-Thin.otf') format('opentype');*/
    /*font-weight: 100;*/
/*}*/
/**/
/*@font-face {*/
    /*font-style: normal;*/
    /*font-family: 'SF-Pro';*/
    /*src: url('../fonts/SF-Pro-Display-Ultralight.otf') format('opentype');*/
    /*font-weight: 200;*/
/*}*/
/**/
/*@font-face {*/
    /*font-style: normal;*/
    /*font-family: 'SF-Pro';*/
    /*src: url('../fonts/SF-Pro-Display-Light.otf') format('opentype');*/
    /*font-weight: 300;*/
/*}*/
/**/
/*@font-face {*/
    /*font-style: normal;*/
    /*font-family: 'SF-Pro';*/
    /*src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');*/
    /*font-weight: 400;*/
/*}*/
/**/
/*@font-face {*/
    /*font-style: normal;*/
    /*font-family: 'SF-Pro';*/
    /*src: url('../fonts/SF-Pro-Display-Medium.otf') format('opentype');*/
    /*font-weight: 500;*/
/*}*/
/**/
/*@font-face {*/
    /*font-style: normal;*/
    /*font-family: 'SF-Pro';*/
    /*src: url('../fonts/SF-Pro-Display-Semibold.otf') format('opentype');*/
    /*font-weight: 600;*/
/*}*/
/**/
/*@font-face {*/
    /*font-style: normal;*/
    /*font-family: 'SF-Pro';*/
    /*src: url('../fonts/SF-Pro-Display-Bold.otf') format('opentype');*/
    /*font-weight: 700;*/
/*}*/
/**/
/*@font-face {*/
    /*font-style: normal;*/
    /*font-family: 'SF-Pro';*/
    /*src: url('../fonts/SF-Pro-Display-Heavy.otf') format('opentype');*/
    /*font-weight: 800;*/
/*}*/
/**/
/*@font-face {*/
    /*font-style: normal;*/
    /*font-family: 'SF-Pro';*/
    /*src: url('../fonts/SF-Pro-Display-Black.otf') format('opentype');*/
    /*font-weight: 900;*/
/*}*/

body {
	background-color: white;
	font-family: 'SF-Pro', sans-serif
}

.avatarh {
	background-color: darkcyan;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.avatarq {
	background-color: brown;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.avatarc {
	background-color: darkolivegreen;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.searchbox {
	background-color: white;
	border-radius: 2px;
	border: 0;
	height: 33px;
	padding-left: 10px;
}

footer {
	background-color: #EEEEEE;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

footer span {
	color: dimgrey;
	font-size: 13px;
}

footer a {
	color: dimgrey;
	font-size: 13px;
}

footer a:visited {
	color: dimgrey;
}

.banner {
	background-color: #EF5350;
	color: #FFC107;
	color: white;
	height: 45px;
	width: 100%;
	padding-top: 20px;
	text-align: center;
	font-size: 25px;
	font-weight: 900;
}

.mdui-card-primary-title {
	margin-left: 12px;
	font-weight: 700;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border-radius: 50%;
    display: none;
}